/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #115ff4;
  margin: 1em;
}

#jeopardyTable {
  background-color: #060ce9;
  text-align: center;
  border-collapse: collapse;
  color: white;
  margin: 1em auto;
  table-layout: fixed;
}

#jeopardyTable th,
#jeopardyTable td {
  border: solid 2px white;
  width: 200px;
  padding: 1em;
  font-family: 'Arial Narrow',
    Arial,
    sans-serif;
}

thead {
  text-transform: uppercase;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: 3px 3px 2px black;
}

button {
  display: block;
  margin: 1em auto;
  padding: 0.75em 2.5em;
  background-color: #74119c;
  border-radius: 3px;
  border: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.loader>span {
  display: inline-block;
  background-color: rgb(226, 93, 137);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinIte alternate;
}

.loader>span:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.2s;
}

.loader>span:nth-child(3) {
  background-color: plum;
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translate3d(0, -16px, 0);
  }
}